@import url('https://fonts.googleapis.com/css?family=Underdog:regular');

body {
  margin: 0;
  font-family: 'Underdog', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

a, a:visited, a:active, a:hover {
  color: lightgray;
}

button {
  font-family: 'Underdog', -apple-system, BlinkMacSystemFont, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
